{% extends "base.html" %}
{% load static %}


{% block headers %}
<title>Tipo Documento</title>
{% endblock %}

{% block content %}
<div class="container lista">
    <h1>Lista de Tipo Documentos</h1>
    <p>Aquí se muestra una lista de Tipo Documentos para realizar el CRUD.</p>
    <ul class="list-group">
        {% for Tipodocumentos in Tipodocumento %} 
        <li class="list-group-item">
            {{ Tipodocumentos.nombre }} &nbsp;<a href="{% url 'Tipodocumento_view' Tipodocumentos.id %}" class="btn btn-sm btn-primary">Detalles</a>&nbsp;
            <a href="{% url 'Tipodocumento_actualizar' Tipodocumentos.id %}" class="btn btn-sm btn-warning">Actualizar</a>&nbsp;
            <a href="{% url 'Tipodocumento_eliminar' Tipodocumentos.id %}" class="btn btn-sm btn-danger">Eliminar</a>
        </li>
        {% endfor %}
    </ul>    
</div>

{% endblock %}
